@model ProtectiveVehiclemanagementMVC.Data.Vehicle

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this Vehicle?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleNum)
        </dt>
        <dd class = "col-sm-10">
            <div class="panel panel-default">
                <div class="panel-body">6 JDF @Html.DisplayFor(model => model.VehicleNum)</div>
            </div> 
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAdded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentMilage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentMilage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreviousHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreviousHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextServ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextServ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleStatus)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VehicleNum" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-dark">Back to List</a>
    </form>
</div>
