@model ProtectiveVehiclemanagementMVC.Data.Vehicle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAdded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentMilage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentMilage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreviousHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreviousHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextServ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextServ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VehicleNum">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
